.shows__list {
  display: none;

  &--is-active {
    display: block;
  }
}

.curious {
  height: 90vh;
  position: relative;
  overflow: hidden;

  &__content {
    width: 100%;
    height: 100%;
    background-color: black;

    &__box {
      &__img {
        position: absolute;
        left: 5%;
        top: 20%;
        transform: scale(1.5);
        height: 100%;

        @media (max-width: 800px) {
          transform: scale(1.5);
          left: -30%;
          top: 0;
        }

        @media (max-width: 550px) {
          transform: scale(1.8);
          left: -60%;
          top: 20%;
        }
      }
      &__gradient {
        background: linear-gradient(
          to right,
          rgba(0, 0, 0.99),
          rgba(0, 0, 0, 0.95),
          rgba(0, 0, 0, 0)
        );
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }

    &__text {
      position: absolute;
      z-index: 100;
      top: 30px;
      left: 100px;
      width: 800px;
      padding: 1rem 10rem;

      @media (max-width: 850px) {
        left: 50%;
        transform: translateX(-50%);
        padding: 0 5px;
        top: 0;
        text-align: center;
        width: 70%;
        height: 400px;
        overflow: auto;
      }

      @media (max-width: 550px) {
        left: 50%;
        transform: translateX(-50%);
        padding: 0 5px;
        top: 10;
        text-align: center;
        width: 400px;
      }

      &__title {
        font-size: 3.5rem;
        color: red;
        text-transform: uppercase;
        text-align: center;
        margin: 10px;
        @media (max-width: 1100px) {
          font-size: 2rem;
        }
      }

      &__text {
        color: white;
        font-size: 1.6rem;
        line-height: 25px;
        @media (max-width: 1100px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
